<div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">EB bills</h5>
         <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

        <div class=" d-flex align-items-end flex-row">
          <div class="p-2">
          <button type="button" class="btn btn-outline-success">Display</button>
          </div>
          <div class="p-2">
            <button type="button" class="btn btn-outline-primary">Add</button>
            </div>
        </div>


      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Products</h5>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

        <div class=" d-flex align-items-end flex-row">
          <div class="p-2">
          <a href="/displaypro"><button type="button" class="btn btn-outline-success">Display</button></a>
          </div>
          <div class="p-2">
            <a href="/addproform"><button type="button" class="btn btn-outline-primary">Add</button></a>
            </div>
        </div>

      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Scada</h5>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

        <div class=" d-flex align-items-end flex-row">
          <div class="p-2">
          <button type="button" class="btn btn-outline-success">Display</button>
          </div>
          <div class="p-2">
            <button type="button" class="btn btn-outline-primary">Add</button>
            </div>
        </div>


      </div>
    </div>
  </div>