<div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
       <h5 class="card-title">Productions</h5>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

        <div class=" d-flex align-items-end flex-row">
          <div class="p-2">
         <a href="/displayproduction"> <button type="button" class="btn btn-outline-success">Display</button></a>
          </div>
          <div class="p-2">
           <a href="/addform"> <button type="button" class="btn btn-outline-primary">Add</button></a>
            </div>
        </div>


      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Motors</h5>
       <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

        <div class=" d-flex align-items-end flex-row">
          <div class="p-2">
         <a href="/displaymotor"> <button type="button" class="btn btn-outline-success">Display</button></a>
          </div>
          <div class="p-2">
           <a href="/addmotorform"> <button type="button" class="btn btn-outline-primary">Add</button></a>
            </div>
        </div>


      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Resources</h5>
         <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <div class=" d-flex align-items-end flex-row">
          <div class="p-2">
          <a href="/displayresource"><button type="button" class="btn btn-outline-success">Display</button></a>
          </div>
          <div class="p-2">
           <a href="/addresourceform"> <button type="button" class="btn btn-outline-primary">Add</button></a>
            </div>
        </div>
        
        </div>
      </div>
    </div>

    
  </div>